<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Steve Kincer">
    <title layout:title-pattern="$CONTENT_TITLE · $LAYOUT_TITLE">Help Desk</title>
    <meta name="description" content="Help Desk App">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/sticky-footer.css}"/>

    <script type="text/javascript" th:inline="javascript">
        var appUrl = [[@{/app}]];
    </script>
</head>
<body>

<th:block sec:authorize="hasRole('ROLE_AGENT')">
    <div th:replace="_fragment/agentNav :: nav">

        <!-- NAV -->

    </div>
</th:block>

<th:block sec:authorize="hasRole('ROLE_CUSTOMER')">
    <div th:replace="_fragment/customerNav :: nav">

        <!-- NAV -->

    </div>
</th:block>


<main role="main" class="container">
    <div class="mt-3" layout:fragment="content">

        <!-- CONTENT FRAGMENT -->

    </div>
</main>


<footer class="footer small">
    <div class="container">
        <span class="text-muted" sec:authentication="principal.authorities"></span>
    </div>
</footer>


<th:block layout:fragment="modals">
    <!-- Any modals from content pages -->

</th:block>

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {

        // Add CSRF token to ajax requests
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document)
            .ajaxSend(function (e, xhr) {
                xhr.setRequestHeader(header, token);
            })
            .ajaxError(function (e, xhr) {
                if (xhr.status === 401) {
                    location.reload();
                }
            });
    });

    function goBack() {
        window.history.back();
    }
</script>

<th:block layout:fragment="scripts">
    <!-- Any JavaScript from content pages -->

    <script></script>
</th:block>

</body>
</html>