<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="nav">
    <a class="navbar-brand text-success" th:href="@{/app/home}">Help Desk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"
                th:classappend="${#httpServletRequest.getRequestURI().startsWith('/app/home') ? 'active':''}">
                <a class="nav-link" th:href="@{/app/home}">Home</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/app/search}" method="post">
            <input class="form-control mr-sm-2" th:name="query" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-4" type="submit">Search</button>
        </form>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <span class="navbar-text text-info mr-sm-2" th:text="${#authentication.principal.username}">Current User</span>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>


</html>