<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{_layout/mainLayout}">
<head>
    <title>User</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">

        <div class="col">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${user.username}"></h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${user.type}"></h6>
            <p class="card-text"></p>
        </div>
    </div>

        </div>

        <div class="col-2 text-center">
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-outline-primary" sec:authorize="hasRole('ROLE_AGENT')">Edit
                </button>
                <button type="button" class="btn btn-outline-danger" sec:authorize="hasRole('ROLE_AGENT')">Delete
                </button>

            </div>

        </div>
</div>


<th:block layout:fragment="scripts">

</th:block>

<th:block layout:fragment="modals">

</th:block>
</body>
</html>