<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/mainLayout}">
<head>
    <title>User</title>
</head>
<body>

<div layout:fragment="content">

    <table class="table table-hover">

        <table class="table table-hover mt-2 table-sm">
            <thead>
            <tr>
                <th>Username</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <th>
                    <a th:href="@{/app/user/{id}(id=${user.id})}" th:text="${user.username}"></a>
                </th>
                <th th:text="${user.type}">Unk</th>
            </tr>
            </tbody>
        </table>


    </table>

</div>


<th:block layout:fragment="scripts">

</th:block>

<th:block layout:fragment="modals">

</th:block>
</body>
</html>