<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/mainLayout}">
<head>
    <title>Category</title>
</head>
<body>

<div layout:fragment="content">

    <div class="card">

        <div class="card-header">New Category</div>

        <form role="form" th:action="@{/app/category/create}"
              th:object="${categoryCreateForm}" method="post">

            <div class="card-body">

                <div class="form-group">
                    <label for="name">Name</label>
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</p>
                    <input type="text" class="form-control" id="name" placeholder="Some category" th:field="*{name}" required>
                </div>

            </div>

            <div class="card-footer">
                <button type="reset" class="btn btn-default">Reset</button>
                <button type="submit" class="btn btn-primary float-right">Create</button>
            </div>
        </form>

    </div>

</div>


<th:block layout:fragment="scripts">

</th:block>

<th:block layout:fragment="modals">

</th:block>
</body>
</html>