<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/mainLayout}">
<head>
    <title>Ticket</title>
</head>
<body>

<div layout:fragment="content">

    <p class="text-center text-danger" th:if="${error}" th:text="${error}"></p>

    <div class="row">

        <div class="col">

            <h3 class="text-muted">All Tickets</h3>

        </div>

        <div class="col-2 text-center">

            <div class="btn-group" role="group">
                <a class="btn btn-outline-primary" th:href="@{/app/ticket/create}">New Ticket</a>
            </div>

        </div>

    </div>


                <table class="table table-hover mt-2 table-sm">
                    <thead>
                    <tr>
                        <th>Created</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Created By</th>
                        <th>Assigned To</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ticket : ${tickets}">
                        <td th:text="${#dates.format(ticket.createdAt,'YYYY MMM dd, h:mma')}">Unk</td>

                        <td>
                            <a th:href="@{/app/ticket/{id}(id=${ticket.id})}" th:text="${ticket.title}"></a>
                        </td>
                        <td th:text="${ticket.category.name}">Unk</td>
                        <td>
                            <a th:href="@{/app/user/{id}(id=${ticket.userCreated.id})}" th:text="${ticket.userCreated.username}"></a>
                        </td>
                        <td>
                            <a th:href="@{/app/user/{id}(id=${ticket.userAssigned.id})}" th:text="${ticket.userAssigned.username}"></a>
                        </td>
                        <td th:if="${ticket.status == T(com.sck.helpdesk.domain.TicketEntity.TicketStatus).OPEN}" class="text-success" th:text="${ticket.status}">Unk</td>
                        <td th:if="${ticket.status == T(com.sck.helpdesk.domain.TicketEntity.TicketStatus).CLOSED}" class="text-muted" th:text="${ticket.status}">Unk</td>
                    </tr>
                    </tbody>
                </table>




</div>


<th:block layout:fragment="scripts">

</th:block>

<th:block layout:fragment="modals">

</th:block>
</body>
</html>