<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout/mainLayout}">
<head>
    <title>Message</title>
</head>
<body>

<div class="container" layout:fragment="content">

    <div class="row mt-4">
        <div class="col">
            <h2>Messages</h2>

            <table class="table table-hover">
                <caption>Messages</caption>

            </table>
        </div>

    </div>

</div>


<th:block layout:fragment="scripts">

</th:block>

<th:block layout:fragment="modals">

</th:block>
</body>
</html>